@import '../../index.scss';

$primary-black: #121212;
$primary-white: #ffffff;
$primary-light-gray: #dedede;
$primary-dark-gray: #575757;
$secondary-white: #fcfcfc;
$secondary-black: #1a1818;
$secondary-gray: #9c9c9c;
$accent-gold: #ab8956;
$accent-red: #9b4b4b;

.sidebar {
  position: fixed;
  top: 0;
  right: -492px;
  width: 492px;
  max-width: 492px;
  height: 100%;
  background-color: $primary-black;
  color: $primary-dark-gray;
  padding: 20px 0px 0px 40px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: right 0.3s ease-in-out;
  &-group {
    max-width: 320px;
  }
  &.open {
    right: 0;
  }

  &-header {
    display: flex;
    justify-content: flex-end;
    margin: 0px 102px 0px 0px;
  }

  .close-btn {
    background: none;
    border: none;
    color: $primary-white;
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
    outline: none;
  }

  &-content {
    margin-top: 40px;

    .filter-actions {
      display: flex;
      justify-content: space-between;
      margin: 200px 0px 0px 0px;
    }
  }
}

.filter-options {
  margin-top: 10px;
  width: 320px;
  height: 36px;
  select {
    width: 100%;
    padding: 8px 0px 8px 16px;
    height: 36px;
    background: $secondary-black;
    color: $primary-dark-gray;
    border-radius: 4px;
    border: none;
  }
}

.filter-group {
  color: $primary-white;
  font-family: 'Paragraph-Light', system-ui;
  line-height: 19.6px;
  font-size: 14px;
  .filter-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 10px 0px;
    cursor: pointer;
    max-width: 320px;
    h3 {
      font-family: 'Cormorant SC', system-ui;
      margin: 0;
      font-size: 16px;
      line-height: 19.38px;
      font-weight: 500;
      color: $primary-white;
    }

    button {
      background: none;
      border: none;
      font-size: 24px;
      color: $primary-white;
      cursor: pointer;
      padding: 10px;
      outline: none;
    }
  }

  &.light {
    color: $primary-black;

    .filter-item {
      h3 {
        color: $primary-black;
      }

      button {
        color: $primary-black;
      }
    }
  }
}

.years-input {
  display: flex;
  input {
    width: 66px;
    height: 36px;
    padding: 8px 16px;
    background: $secondary-black;
    color: $primary-white;
    border: none;
    border-radius: 4px;
    text-align: center;
  }

  span {
    color: $primary-dark-gray;
    font-size: 28px;
    margin: -5px 8px 0px 10px;
  }
}

.show-results,
.clear {
  display: block;
  background: none;
  border: none;
  color: $primary-light-gray;
  text-decoration: underline;
  font-size: 12px;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  font-weight: 700;
  line-height: 15px;
}

.clear {
  color: $primary-dark-gray;
  text-align: left;
  background: none;
}

.show-results {
  font-weight: bold;
  color: $primary-light-gray;
  padding: 0px 30px 0px 0px;
}

.clear {
  &.light {
    color: $secondary-gray;
    text-align: left;
    background: none;
  }
}

.show-results {
  &.light {
    color: $primary-dark-gray;
    background: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .sidebar {
    right: -372px;
    width: 372px;
    max-width: 372px;
    padding: 20px 0px 0px 32px;

    &-header {
      margin: 0px 2px 0px 0px;
    }
  }
  .sidebar .sidebar-header {
    margin: 0px 20px 0px 0px;
  }
}

.sidebar {
  &.light {
    background: $primary-white;
    color: $primary-black;
  }
}

.sidebar-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.sidebar-header.light {
  color: $primary-black;
}

.filter-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.filter-options {
  margin-top: 10px;
}

.years-input {
  display: flex;
  align-items: center;
}

.filter-actions {
  @include font-style('PT Sans Caption', 700);
  margin-top: 20px;
}

.show-results,
.clear {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border: none;
}

.sidebar .sidebar-content {
  color: $primary-black;
}

.sidebar.light {
  background: $primary-white;

  .years-input span {
    color: $primary-dark-gray;
  }
}

.show-results {
  display: inline-block;
}

.filter-actions button {
  max-width: 185px;
}

.show-results:focus,
.clear:focus {
  outline: none;
}

.custom-select {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background-color: $primary-light-gray;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  height: 36px;
  font-size: 14px;
  color: $primary-light-gray;
  background-color: $secondary-black;
  &::after {
    content: '';
    position: absolute;
    bottom: 15px;
    right: 20px;
    width: 12px;
    height: 7px;
    background: url(../../assets/images/sidebar-element.png) no-repeat -2px -2px;
    background-size: auto 7px;
  }
}

@media (max-width: 767px) {
  .sidebar {
    right: -280px;
    width: 280px;
    max-width: 280px;
    padding: 20px 0px 0px 20px;

    &-header {
      margin: 0px 2px 0px 0px;
    }
  }

  .sidebar .sidebar-header {
    margin: 0px 10px 0px 0px;
  }

  .filter-options {
    margin-top: 10px;
    width: 240px;
    height: 33px;
    &.years-input {
      width: 33px;
    }
  }

  .sidebar-group {
    padding: 0px 20px 0px 0px;
  }

  .custom-select {
    width: 240px;
  }
}

.selected-option {
  color: $primary-light-gray;
}

.options {
  display: none;
  background-color: $secondary-black;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
  z-index: 10;
  font-family: Inter;
  font-size: 14px;
  line-height: 19.6px;
  text-align: left;
  color: $primary-light-gray;
  border-radius: 4px;
}

.custom-select:hover .options {
  display: block;
}

.option {
  padding: 10px 8px 10px 16px;
  cursor: pointer;
}

.option:hover {
  background-color: #232121;
}

.options::-webkit-scrollbar {
  width: 4px;
  height: 100px;
}

.options::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.custom-select {
  &.light {
    border: 1px solid $primary-light-gray;
    border-radius: 4px;
    background: $primary-white;
    color: $secondary-gray;
  }
}

.selected-option {
  &.light {
    color: $secondary-gray;
  }
}

.options {
  &.light {
    background-color: $primary-white;
    color: $primary-dark-gray;
  }
}

.option:hover {
  &.light {
    background-color: $primary-light-gray;
    color: $primary-dark-gray;
  }
}

.custom-select:hover {
  border: 1px solid $primary-dark-gray;
  transition: 0.3s;
  &::after {
    content: '';
    position: absolute;
    bottom: 15px;
    right: 20px;
    width: 12px;
    height: 7px;
    background: none;
  }
  &::before {
    content: '';
    position: absolute;
    bottom: 15px;
    right: 20px;
    width: 12px;
    height: 7px;
    background: url(../../assets/images/sidebar-element.png) no-repeat -2px -2px;
    background-size: auto 7px;
    transform: rotate(180deg);
  }
}

.years-input input {
  &.light {
    background: $primary-white;
    border: 1px solid $primary-light-gray;
    color: $primary-dark-gray;
  }
}
